    <div class='sk-ab sk-1-home-logeadz'>
      <div class='sk-asset sk-new-home'></div>
      <div class='sk-asset sk-Rectangle'></div>
      <div class='sk-asset sk-Busca-tus-eventos-en'></div>
      <div class='sk-asset sk-Pr-ximos-eventos'></div>
      <div class='sk-asset sk-Crea-tu-propio-event'></div>
      <div class='sk-asset sk-Todo-lo-que-necesita'></div>
      <div class='sk-asset sk-Publica'></div>
      <div class='sk-asset sk-Publica-tu-evento-en'></div>
      <div class='sk-asset sk-Crea'></div>
      <div class='sk-asset sk-Personaliza-la-p-gin'></div>
      <div class='sk-asset sk-Invita'></div>
      <div class='sk-asset sk-Comparte-el-link-de'></div>
      <div class='sk-asset sk-text-label-1'></div>
      <div class='sk-asset sk-select-des'></div>
      <div class='sk-asset sk-select-act'></div>
      <div class='sk-asset sk-Path-2-Copy'></div>
      <div class='sk-asset sk-Group'></div>
      <div class='sk-asset sk-principal-button'></div>
      <div class='sk-asset sk-principal-button-copy'></div>
      <div class='sk-asset sk-principal-button-copy-2'></div>
      <div class='sk-asset sk-Line-Copy-2'></div>
      <div class='sk-asset sk-card-event'></div>
      <div class='sk-asset sk-card-event-copy-4'></div>
      <div class='sk-asset sk-card-event-copy-6'></div>
      <div class='sk-asset sk-card-event-copy'></div>
      <div class='sk-asset sk-card-event-copy-3'></div>
      <div class='sk-asset sk-card-event-copy-7'></div>
      <div class='sk-asset sk-card-event-copy-2'></div>
      <div class='sk-asset sk-card-event-copy-5'></div>
      <div class='sk-asset sk-card-event-copy-8'></div>
      <div class='sk-asset sk-Deportes'></div>
      <div class='sk-asset sk-Deportes-Copy'></div>
      <div class='sk-asset sk-Artes-Teatro'></div>
      <div class='sk-asset sk-M-sica'></div>
      <div class='sk-asset sk-M-sica-Copy'></div>
      <div class='sk-asset sk-Salud-y-bienestar'></div>
      <div class='sk-asset sk-Salud-y-bienestar'></div>
      <div class='sk-asset sk-Salud-y-bienestar-Copy'></div>
      <div class='sk-asset sk-Otros'></div>
      <div class='sk-asset sk-Rectangle-2'></div>
      <div class='sk-asset sk-Path-2'></div>
      <div class='sk-asset sk-menu'></div>
      <div class='sk-asset sk-footer'></div>
      <div class='sk-asset sk-Shape'></div>
      <div class='sk-asset sk-Shape'></div>
      <div class='sk-asset sk-Shape'></div>
      <div class='sk-asset sk-Secondary-button-Copy'></div>
      <div class='sk-asset sk-Secondary-button-Copy-3'></div>
      <div class='sk-asset sk-Rectangle-12'></div>
      <div class='sk-asset sk-Bitmap'></div>
      <div class='sk-asset sk--C-mo-funciona-'></div>
      <div class='sk-asset sk-Mis-eventoa'></div>
      <div class='sk-asset sk-Crear-evento-Copy'></div>
      <div class='sk-asset sk-Cerrar-sesi-n'></div>
      <div class='sk-asset sk-Line'></div>
      <div class='sk-asset sk-Line-Copy-2'></div>
      <div class='sk-asset sk-Line-Copy'></div>
      <div class='sk-asset sk-Line-Copy-3'></div>
    </div>
